@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');body{
  font-family: 'Poppins', sans-serif;
  background: #eeedec;
  font-size: 0.8em;
}
.container{
  max-width: 400px;
}
.icon{
  position: relative;
  top: -50px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.5);
  width: 100px;
  margin-bottom: -50px;
  background-color: #eeedec;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}